@import 'react-vertical-timeline-component/style.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
    font-family: 'ArchivoNarrow';
  }
}
@font-face {
  font-family: 'ConcertOne';
  src: url('/fonts/ConcertOne-Regular.ttf');
}
@font-face {
  font-family: 'ArchivoNarrow';
  src: url('/fonts/ArchivoNarrow.ttf');
}
@layer utilities {
  .row-flex {
    @apply flex flex-row;
  }
  .col-flex {
    @apply flex flex-col;
  }
  .simple-transition {
    @apply ease-in-out transition-all duration-500;
  }
  .font-concertOne {
    font-family: 'ConcertOne';
  }
}
