@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#5f5f5f];
    font-family: 'ConcertOne';
  }
}
@font-face {
  font-family: 'ConcertOne';
  src: url('/fonts/ConcertOne-Regular.ttf');
}
@layer utilities {
  .row-flex {
    @apply flex flex-row;
  }
  .col-flex {
    @apply flex flex-col;
  }
  .simple-transition {
    @apply ease-in-out transition-all duration-500;
  }
}
